  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon head tag -->
  <meta name="keywords" content="Axial, Elkington, Great inventors"/>
  <meta name="description" content="Axial - agency for great inventors"/>
  <meta name="robots" content="index"/>
  <meta property="og:title" content="Axial"/>
  <meta property="og:description" content="Axial - agency for great inventors"/>
  <meta property="og:url" content="https://www.axialsprawl.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Axial"/>
